@charset "UTF-8";
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
   
}
.imagem{
    background-color: white;
    width: 250px;
    height: 200px;
    margin: auto;
    background-image: url(../imagens/metal.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 50px;
   
  

}
main{
    position: relative;
}
form{
    background-color: white;
    width: 230px;

    
    margin: auto;
    padding: 10px;
    padding-bottom: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
form > h1{
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    padding: 5px;
}
form > p{
    text-align: center;
    text-align: justify;
    font-size: 0.9em;
  
}
form>input{
     
     padding: 10px;
     background-color: #94CFCD;
     border-style: none;
     border-radius: 5px;
     margin: auto;
     margin-top: 10px;
}
span > input{
    /* display: block; */
    padding: 10px;
    background-color: #94CFCD;
    border-style: none;
    border-radius: 5px;
    margin: auto;
    width: 168px;
    margin-bottom: 4px;
}
#submit{
    width: 225px;
    background-color: #53AAA7;
    color: white;
}
#submit:hover{
    background-color: #2D6462;

}
a{
    text-decoration: none;
    color: #2D6462;
   
}

a>p{
    font-size: 0.9em;
    text-align: center;
    width: 200px;
    margin-top: 5px;
    margin-left: 4px;
    border: 1px solid #53AAA7;
    padding: 10px;
  
    border-radius: 5px;
}
a>p:hover{
    background-color: #6CD3CF;
}
body{
    background-color: #5F2C82;
}
.material-icons{
    background-color:#5F2C82;
    color: white; 
   border-radius: 5px;
   
   
}
#email{
    display: block;
    /* padding: 10px; */
    font-size: 30px;
    
}
#senha{
    display: block;
    /* padding: 10px; */
    font-size: 30px;
    margin-top: 5px;
}